<div style="width: 420px; margin: auto; margin-top: 170px; ">
    <div class="pb-4" style="text-align: center;"><h1>Servicio Técnico</h1></div>
    <form class="needs-validation" novalidate>
        <div class="card p-5" style="border-radius: 1rem; min-width: 230px;">
            <h4 class="mb-3">Escribe tu nombre y correo para unirte</h4>
            <input type="text" class="form-control mb-2" style="border-radius: 1rem; min-width: 215px;" placeholder="Nombre de Usuario" [(ngModel)]="User.name" name="name" required>
            <input type="text" class="form-control" style="border-radius: 1rem; min-width: 215px;" placeholder="Correo electrónico" [(ngModel)]="User.email" name="email" required>
            <a href="" class="btn btn-primary mt-3" style="border-radius: 1rem; width: 200px; margin: auto;" [routerLink]="['/chat', User.name]">Unirse al chat</a>
        </div>
    </form>
    
</div>
